@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.logo img {
    margin: 2.6rem 10.3rem;
    width: 10.8rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 600;
}

.main-container {
    display: flex;
}

.images {
    width: 54vw;
}

.illustration-mockups img {
    margin: 1.5rem 10.3rem;
    width: 77%;
}

.content {
    width: 46vw;
}

.content h1 {
    margin: 3.7rem 2.4rem 1rem;
    width: 60%;
}

.content p {
    font-size: 0.94rem;
    line-height: 1.32rem;
    color: rgba(255, 255, 255, 0.685);
    margin: 0 2.4rem;
    width: 68%;

}

button {
    background-color: white;
    margin: 1rem 2.4rem;
    color: hsla(257, 40%, 49%, 0.76);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.9rem 3.3rem;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border-style: hidden;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
}

.socials {
    width: 10vw;
    position: absolute;
    right: 158px;
    bottom: 28px;
    display: flex;
}

.socials img {
    width: 2rem;
    margin: 0 0.25rem;
}

.socials img:hover {
    color: hsl(300, 69%, 71%);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(300, 69%, 71%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 42%;
}

@media (max-width: 600px) and (min-width: 350px) {
    .logo img {
        margin: 2rem;
        width: 8rem;
    }

    body {
        display: flex;
        flex-wrap: wrap;
    }

    .illustration-mockups {
        width: 100vw;
    }

    .illustration-mockups img{
        width: 80vw;
    }
}