@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.logo img {
    margin: 2.6rem 10.3rem;
    width: 10.8rem;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 600;
}

.main-container {
    display: flex;
}

.images {
    width: 54vw;
}

.illustration-mockups img {
    margin: 1.5rem 10.3rem;
    width: 77%;
}

.content {
    width: 46vw;
}

.content h1 {
    margin: 3.7rem 2.4rem 1rem;
    width: 60%;
}

.content p {
    font-size: 0.94rem;
    line-height: 1.32rem;
    color: rgba(255, 255, 255, 0.685);
    margin: 0 2.4rem;
    width: 68%;

}

button {
    background-color: white;
    margin: 1rem 2.4rem;
    color: hsla(257, 40%, 49%, 0.76);
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.9rem 3.3rem;
    border-radius: 50px;
    box-shadow: 1px 1px 5px black;
    border-style: hidden;
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
}

#socials {
    width: 9vw;
    position: absolute;
    right: 158px;
    bottom: 28px;
    display: flex;
    justify-content: space-between;
}

#socials img {
    width: 2rem;
    margin: 0 0.25rem;
    filter: brightness(0) invert();
}

#socials img:hover {
    cursor: pointer;
    filter: invert(73%) sepia(24%) saturate(1992%) hue-rotate(229deg) brightness(93%) contrast(96%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(300, 69%, 71%);
}

footer {
    position: absolute;
    bottom: 0;
    left: 42%;
}

@media (max-width: 600px) and (min-width: 300px) {
    .logo img {
        margin: 2rem;
        width: 8rem;    
    }

    body {
        display: flex;
        flex-wrap: wrap;
        background-image: url(./images/bg-mobile.svg);
    }

    .main-container {
        display: flex;
        flex-wrap: wrap;
    }

    .illustration-mockups {
        width: 100vw;
        height:36vh;
        margin-top: 0.5rem;
    }

    .illustration-mockups img{
        margin: 1rem 2rem;
        width: 80vw;
    }

    .content {
        width: 100vw;
        height: 70vh;
    }

    .content h1 {
        margin: 6rem auto 0;
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
    }

    .content p {
        margin: 0.8rem auto;
        font-size: 0.8rem;
        text-align: center;
    }

    button {
        margin: 0.8rem auto;
        padding: 0.7rem 3.9rem;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
    }

    #socials {
        position: inherit;
        margin: 0.4rem auto;
        width: 100vw;
        justify-content: center;
    }

    #socials img {
        width: 1.5rem;
    }

    footer {
        position: inherit;
        margin: auto;
    }
}